.mui-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
}

.modal-body {
    text-align: center;
}

.tab-pane {
    padding: 0 10px;
}

.nav-tabs > li > a {
    line-height: 0.8;
}
@media only screen and (max-width: 1023px){
    .jumbotron {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px){
    .jumbotron {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

