<footer id="footer">
  <div class="mui-container-fluid">
    <nav class="mui-row" role="navigation">
      <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <div class="space-top"></div>
        <ul class="mui-list--inline mui--text-body2 mui--text-light">
          <li><a href="/support">Support</a></li>
          <li><a href="/feedback?next=https%3A%2F%2Fwww.muicss.com%2Fdocs%2Fv1%2Fangular%2Fboilerplate-html">Feedback</a></li>
          <li><a href="/newsletter">Newsletter</a></li>
          <li><a href="https://twitter.com/mui_css">Twitter</a></li>
          <li><a href="https://www.facebook.com/muicss">Facebook</a></li>
          <li><a href="https://github.com/muicss/mui">Github</a></li>
        </ul>
        <div class="mui--text-caption mui--text-light">&copy; 2017 MUI. <a href="http://nytm.org/made-in-nyc/">Made in NYC.</a></div>
      </div>
    </nav>
  </div>
</footer>
