<app-navbar [isLogin]="isLogin" (ClickToggle)="showmenu()"></app-navbar>
<app-sidebar [MenuItems]="menuItems" (ClickShowSubmenu)="showSubmenu($event)"></app-sidebar>

<div id="content-wrapper">
  <div id="appbar-placeholder" class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <div class="space-top"></div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>