<header id="header">
  <nav id="appbar" class="mui-container-fluid">
    <table width="100%" cellspacing="0">
      <tr class="mui--appbar-height">
        <td>
          <a (click)="showmenu()" id="appbar-sidenav-show" class="mui--hidden-xs mui-hidden-sm">
            <i class="icon-menu"></i>
          </a>


          <a class="appbar-brand" href="/docs/v1/angular">Angular</a>
          <i class="icon-keyboard-arrow-right mui-hidden-xs"></i>
          <a class="appbar-brand mui-hidden-xs" href="/docs/v1/angular/boilerplate-html">Boilerplate HTML</a>

        </td>
        <td class="mui--text-right">
          <div id="appbar-social-links" class="mui--hidden-xs">
            <a href="https://github.com/muicss/mui"><i class="icon-github"></i></a>
            <a href="https://twitter.com/mui_css"><i class="icon-twitter"></i></a>
            <a href="/newsletter"><i class="icon-email"></i></a>
          </div>
          <div class="mui-dropdown">
            <a id="appbar-more-vert" data-mui-toggle="dropdown"><i class="icon-more-vert"></i></a>
            <ul class="mui-dropdown__menu mui-dropdown__menu--right">

              <li><a href="/docs/v1/getting-started/introduction">Introduction</a></li>
              <li><a href="/docs/v1/getting-started/roadmap">Roadmap</a></li>
              <li><a href="/support">Support</a></li>
              <li><a href="/feedback">Feedback</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </nav>
</header>

<div id="sidedrawer">


  <nav id="sidenav" class="mui--no-user-select">
    <div>
      <h2 class="mui--appbar-line-height"><a href="/">MUI</a></h2>
    </div>
    <div class="mui-divider"></div>
    <ul>
      <li>
        <strong class="" (click)="showSubmenu($event)">Getting Started</strong>
        <ul>
          <li><a class="" href="/docs/v1/getting-started/introduction">Introduction</a></li>
          <li><a class="" href="/docs/v1/getting-started/roadmap">Roadmap</a></li>
          <li><a class="" href="/docs/v1/getting-started/colors">Colors</a></li>
          <li><a class="" href="/docs/v1/getting-started/extras">Extras</a></li>
          <li><a class="" href="/docs/v1/getting-started/security">Security</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">Example Layouts</strong>
        <ul>
          <li><a class="" href="/docs/v1/example-layouts/blog">Blog</a></li>
          <li><a class="" href="/docs/v1/example-layouts/landing-page">Landing Page</a></li>
          <li><a class="" href="/docs/v1/example-layouts/responsive-side-menu">Responsive Side Menu</a></li>
          <li><a class="" href="/docs/v1/example-layouts/html-email">HTML Email</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">CSS/JS</strong>
        <ul>
          <li><a class="" href="/docs/v1/css-js/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/css-js/appbar">Appbar</a></li>
          <li><a class="" href="/docs/v1/css-js/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/css-js/container">Container</a></li>
          <li><a class="" href="/docs/v1/css-js/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/css-js/dropdowns">Dropdowns</a></li>
          <li><a class="" href="/docs/v1/css-js/forms">Forms</a></li>
          <li><a class="" href="/docs/v1/css-js/grid">Grid</a></li>
          <li><a class="" href="/docs/v1/css-js/overlay">Overlay</a></li>
          <li><a class="" href="/docs/v1/css-js/panels">Panels</a></li>
          <li><a class="" href="/docs/v1/css-js/tables">Tables</a></li>
          <li><a class="" href="/docs/v1/css-js/tabs">Tabs</a></li>
          <li><a class="" href="/docs/v1/css-js/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/css-js/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/css-js/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/css-js/customization">Customization</a></li>
          <li><a class="" href="/docs/v1/css-js/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">React</strong>
        <ul>
          <li><a class="" href="/docs/v1/react/introduction">Introduction</a></li>
          <li><a class="" href="/docs/v1/react/appbar">Appbar</a></li>
          <li><a class="" href="/docs/v1/react/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/react/container">Container</a></li>
          <li><a class="" href="/docs/v1/react/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/react/dropdowns">Dropdowns</a></li>
          <li><a class="" href="/docs/v1/react/forms">Forms</a></li>
          <li><a class="" href="/docs/v1/react/grid">Grid</a></li>
          <li><a class="" href="/docs/v1/react/panels">Panels</a></li>
          <li><a class="" href="/docs/v1/react/tabs">Tabs</a></li>
          <li><a class="" href="/docs/v1/react/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/react/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/react/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/react/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">Angular</strong>
        <ul>
          <li><a class="active" href="/docs/v1/angular/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/angular/appbar">Appbar</a></li>
          <li><a class="" href="/docs/v1/angular/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/angular/container">Container</a></li>
          <li><a class="" href="/docs/v1/angular/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/angular/dropdowns">Dropdowns</a></li>
          <li><a class="" href="/docs/v1/angular/forms">Forms</a></li>
          <li><a class="" href="/docs/v1/angular/grid">Grid</a></li>
          <li><a class="" href="/docs/v1/angular/panels">Panels</a></li>
          <li><a class="" href="/docs/v1/angular/tabs">Tabs</a></li>
          <li><a class="" href="/docs/v1/angular/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/angular/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/angular/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/angular/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">HTML Email</strong>
        <ul>
          <li><a class="" href="/docs/v1/email/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/email/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/email/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/email/panel">Panel</a></li>
          <li><a class="" href="/docs/v1/email/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/email/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/email/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/email/customization">Customization</a></li>
          <li><a class="" href="/docs/v1/email/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">WebComponents</strong>
        <ul>
          <li><a class="" href="/docs/v1/webcomponents/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/webcomponents/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/webcomponents/forms">Forms</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">Design Files</strong>
        <ul>
          <li><a class="" href="/docs/v1/design-files/sketch">Sketch</a></li>
        </ul>
      </li>

    </ul>
  </nav>

</div>

<div id="content-wrapper">
  <div id="appbar-placeholder" class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-sm-10 mui-col-sm-offset-1">
        
        <div class="space-top"></div>

        <!--<h1>Overview</h1>
        <p>MUI's Angular library is designed from the ground up to be fast, small and developer-friendly. Using the Angular
          library you can add MUI components to your Angular modules and switch seamlessly between MUI CSS/JS and MUI Angular
          even within the same app.</p>
        <div class="space-bottom"></div>

        <h2>HTML Boilerplate</h2>
        <p>To get started with MUI Angular you can use this HTML document:</p>-->
        <!-- <div class="mui-panel">

          <div class="highlight">
            <pre><span></span><span class="cp">&lt;!doctype html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">ng-app</span><span class="o">=</span><span class="s">&quot;mui&quot;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&quot;utf-8&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">http-equiv</span><span class="o">=</span><span class="s">&quot;X-UA-Compatible&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;IE=edge&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;viewport&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;width=device-width, initial-scale=1&quot;</span><span class="p">&gt;</span>
    <span class="c">&lt;!-- load Angular --&gt;</span>
    <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
    <span class="c">&lt;!-- load MUI --&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;//cdn.muicss.com/mui-0.9.14/css/mui.min.css&quot;</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/css&quot;</span> <span class="p">/&gt;</span>
    <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;//cdn.muicss.com/mui-0.9.14/angular/mui-angular.min.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="c">&lt;!--</span>
<span class="c">    </span>
<span class="c">    Angular template goes here</span>

<span class="c">    --&gt;</span>
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre>
          </div>


        </div>
        <div class="space-bottom"></div>

        <h2>Talk to us</h2>
        <p>If you have any recommendations on how to improve our Angular support or if you'd like to get involved please send
          us an email (<a href="mailto:contact@muicss.com">contact@muicss.com</a>) or issue a pull-request on <a href="https://github.com/muicss/mui">Github</a>!</p>
        <div class="space-bottom"></div>

        <div class="space-bottom"></div>-->
      </div>
    </div>
  </div>

  <!--<div class="mui-container-fluid">

    <table width="100%">
      <tr>
        <td width="50%" style="padding-bottom:20px;">

          <a href="/docs/v1/react/reference" style="text-decoration:none;font-size:20px;">&laquo; Previous</a>

        </td>
        <td width="50%" class="mui--text-right" style="padding-bottom:20px;">

          <a href="/docs/v1/angular/appbar" style="text-decoration:none;font-size:20px;">Next &raquo;</a>

        </td>
      </tr>
    </table>


  </div>-->


</div>

<footer id="footer">

  <div class="mui-container-fluid">
    <nav class="mui-row" role="navigation">
      <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <div class="space-top"></div>
        <ul class="mui-list--inline mui--text-body2 mui--text-light">
          <li><a href="/support">Support</a></li>
          <li><a href="/feedback?next=https%3A%2F%2Fwww.muicss.com%2Fdocs%2Fv1%2Fangular%2Fboilerplate-html">Feedback</a></li>
          <li><a href="/newsletter">Newsletter</a></li>
          <li><a href="https://twitter.com/mui_css">Twitter</a></li>
          <li><a href="https://www.facebook.com/muicss">Facebook</a></li>
          <li><a href="https://github.com/muicss/mui">Github</a></li>
        </ul>
        <div class="mui--text-caption mui--text-light">&copy; 2017 MUI. <a href="http://nytm.org/made-in-nyc/">Made in NYC.</a></div>
      </div>
    </nav>
  </div>
</footer>