<div class="mui-container">
  <div class="mui-row">
    <div class="mui-col-md-6">
      <form class="mui-form">
        <legend>Username :</legend>
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text">
          <label>Email</label>
        </div>
        <legend>Password :</legend>
        <div class="mui-textfield mui-textfield--float-label">
          <input type="password">
          <label>Password</label>
        </div>
        <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
      </form>
    </div>
    
  </div>

</div>

