
<div [@flyInOut]="'in'" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display3">Message status</h2>
    <div class="input-group">
      <input type="text" 
        class="form-control input-sm" 
        [value]="filterText"
        [formControl]="filterInput"
        aria-describedby="basic-addon2">
      <span class="input-group-addon input-sm" id="basic-addon2">Search</span>
    </div>
  <hr>
  <table class="table table-striped">
        <thead>
          <tr>
            <th>File</th>
            <th>Date</th>
            <th style="text-align:center">Category</th>
            <th style="text-align:center">Status</th>
            <th style="text-align:right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders | filter:{ baseFileName: filterText, doctype: filterText} : false">
            <td>{{ order.baseFileName }}</td>
            <td>{{ order.createDate | date:'medium' }}</td>
            <td style="text-align:center">{{ order.doctype }}</td>
            <td style="text-align:center">{{ transStatusText(order.status)}}</td>
            <td>
              <button class="btn btn-success btn-sm pull-right" *ngIf="order.status >= 2">Received</button>
              <button class="btn btn-danger btn-sm pull-right" *ngIf="order.status == 0">Delete</button>
            
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>