<div id="sidedrawer">
  <nav id="sidenav" class="mui--no-user-select">
    <div>
      <h2 class="mui--appbar-line-height"><a href="/">MUI</a></h2>
    </div>
    <div class="mui-divider"></div>
    <ul>
      <li>
        <strong class="" (click)="showSubmenu($event)">Getting Started</strong>
        <ul>
          <li><a class="" href="/docs/v1/getting-started/introduction">Introduction</a></li>
          <li><a class="" href="/docs/v1/getting-started/roadmap">Roadmap</a></li>
          <li><a class="" href="/docs/v1/getting-started/colors">Colors</a></li>
          <li><a class="" href="/docs/v1/getting-started/extras">Extras</a></li>
          <li><a class="" href="/docs/v1/getting-started/security">Security</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">Example Layouts</strong>
        <ul>
          <li><a class="" href="/docs/v1/example-layouts/blog">Blog</a></li>
          <li><a class="" href="/docs/v1/example-layouts/landing-page">Landing Page</a></li>
          <li><a class="" href="/docs/v1/example-layouts/responsive-side-menu">Responsive Side Menu</a></li>
          <li><a class="" href="/docs/v1/example-layouts/html-email">HTML Email</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">CSS/JS</strong>
        <ul>
          <li><a class="" href="/docs/v1/css-js/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/css-js/appbar">Appbar</a></li>
          <li><a class="" href="/docs/v1/css-js/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/css-js/container">Container</a></li>
          <li><a class="" href="/docs/v1/css-js/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/css-js/dropdowns">Dropdowns</a></li>
          <li><a class="" href="/docs/v1/css-js/forms">Forms</a></li>
          <li><a class="" href="/docs/v1/css-js/grid">Grid</a></li>
          <li><a class="" href="/docs/v1/css-js/overlay">Overlay</a></li>
          <li><a class="" href="/docs/v1/css-js/panels">Panels</a></li>
          <li><a class="" href="/docs/v1/css-js/tables">Tables</a></li>
          <li><a class="" href="/docs/v1/css-js/tabs">Tabs</a></li>
          <li><a class="" href="/docs/v1/css-js/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/css-js/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/css-js/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/css-js/customization">Customization</a></li>
          <li><a class="" href="/docs/v1/css-js/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">React</strong>
        <ul>
          <li><a class="" href="/docs/v1/react/introduction">Introduction</a></li>
          <li><a class="" href="/docs/v1/react/appbar">Appbar</a></li>
          <li><a class="" href="/docs/v1/react/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/react/container">Container</a></li>
          <li><a class="" href="/docs/v1/react/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/react/dropdowns">Dropdowns</a></li>
          <li><a class="" href="/docs/v1/react/forms">Forms</a></li>
          <li><a class="" href="/docs/v1/react/grid">Grid</a></li>
          <li><a class="" href="/docs/v1/react/panels">Panels</a></li>
          <li><a class="" href="/docs/v1/react/tabs">Tabs</a></li>
          <li><a class="" href="/docs/v1/react/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/react/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/react/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/react/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">Angular</strong>
        <ul>
          <li><a class="active" href="/docs/v1/angular/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/angular/appbar">Appbar</a></li>
          <li><a class="" href="/docs/v1/angular/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/angular/container">Container</a></li>
          <li><a class="" href="/docs/v1/angular/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/angular/dropdowns">Dropdowns</a></li>
          <li><a class="" href="/docs/v1/angular/forms">Forms</a></li>
          <li><a class="" href="/docs/v1/angular/grid">Grid</a></li>
          <li><a class="" href="/docs/v1/angular/panels">Panels</a></li>
          <li><a class="" href="/docs/v1/angular/tabs">Tabs</a></li>
          <li><a class="" href="/docs/v1/angular/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/angular/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/angular/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/angular/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">HTML Email</strong>
        <ul>
          <li><a class="" href="/docs/v1/email/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/email/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/email/dividers">Dividers</a></li>
          <li><a class="" href="/docs/v1/email/panel">Panel</a></li>
          <li><a class="" href="/docs/v1/email/typography">Typography</a></li>
          <li><a class="" href="/docs/v1/email/semantic-html">Semantic HTML</a></li>
          <li><a class="" href="/docs/v1/email/css-helpers">CSS Helpers</a></li>
          <li><a class="" href="/docs/v1/email/customization">Customization</a></li>
          <li><a class="" href="/docs/v1/email/reference">Reference</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">WebComponents</strong>
        <ul>
          <li><a class="" href="/docs/v1/webcomponents/boilerplate-html">Boilerplate HTML</a></li>
          <li><a class="" href="/docs/v1/webcomponents/buttons">Buttons</a></li>
          <li><a class="" href="/docs/v1/webcomponents/forms">Forms</a></li>
        </ul>
      </li>
      <li>
        <strong class="" (click)="showSubmenu($event)">Design Files</strong>
        <ul>
          <li><a class="" href="/docs/v1/design-files/sketch">Sketch</a></li>
        </ul>
      </li>

    </ul>
  </nav>

</div>
