<div [@flyInOut]="'in'" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Upload your file to system.</h2>
    <hr>
    <form #form>
      <div class="form-group">
          <label class="control-label">Choose your file</label>
          <input 
            #inputFile1
            type="file" 
            class="filestyle"
            data-icon="false"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
      <div class="form-group">
          <label class="control-label">Choose your file</label>
          <input 
            #inputFile2
            type="file" 
            class="filestyle" 
            data-icon="false"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
      <div class="form-group">
          <label class="control-label">Choose your file</label>
          <input 
            #inputFile3
            type="file" 
            class="filestyle" 
            data-icon="false"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>

      <div class="form-group">
        <label class="control-label">Document type</label>
        <div>
            <select class="form-control input-sm" (change)="cboChange($event)">
              <option *ngFor="let opt of documentType">
                {{ opt }}
              </option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="control-label">Remarks</label>
        <textarea #comment class="form-control input-sm" rows="3" id="comment"></textarea>
        <small id="remarkHelp" class="form-text text-muted">
          Note an information to us.
        </small>
      </div>
      <button type="button" class="btn btn-primary btn-sm" (click)="addFile()">
        <span id="loading" class="glyphicon glyphicon-refresh"></span>
        Submit</button>
    </form>
  
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="errorMessage" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h2>Warning...</h2>
        <div style="padding-left:25px">
           <span style="white-space:pre-wrap;">{{ errorText }}</span>
        </div>
       
        <div style="padding-top:20px">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
        
        </div>
       
      </div>
 
    </div>
  </div>
</div>
